body {
  margin: 0;
  padding: 20px;
  display: grid;
  font-family: 'Karla';
  background-image: url('/QuizzicalBackground.jpg');
  background-size: cover;
  height: 95vh;
}

* {
  box-sizing: border-box;
}


.card .quiz-tagline {
  font-weight: 600;
  border-bottom: 5px solid #06fcf8;
  /* background-color: #637884; */
  ;
  color: antiquewhite;
  padding: 1em 2em;
  border-radius: 50%;
}

.card {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
  margin: auto;
  /* border: 1px    solid red; */
}
.error {
  border:1px solid red;
  display: flex;
  color: antiquewhite;
  padding: 1em 2em;
  background-color: red;
  font-family: 'Karla';
}
h1 {
  color: antiquewhite;
  text-align: center;
  font-family: Karla;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.icon {
  width: 150px;
  height: 150px;
  border: 2px solid #06fcf8;
  background-image: url('/shield.jpg');
  background-size: cover;
  margin: 1em 0;
  border-radius: 50%;
}

.question--text {
  color: aliceblue;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

button {
  width: 193px;
  height: 52px;
  border: 1px solid #a0b0ca;;
  border-radius: 15px;
  color: #F5F7FB;
  text-align: center;
  font-family: 'Karla';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  /* margin-top: 1.75rem; */
}

button:hover {
  border: 1px solid grey;
  background-color: #25199a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.answer--list {
  list-style-type: none;
  margin: 0.75rem 0 0 0;
  padding: 0;
  display: flex;
}

.answer--list li {
  float: left;
  margin: 0 5px 0 0;
  width: 275px;
  height: 50px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.answer--list label,
.answer--list input[type="radio"] {
  display: inline-block;
  /* width: fit-content; */
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7.942px;
  border: 0.794px solid white;
  padding: 0.5em;

}

.answer--list input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.answer--list input[type="radio"]:checked+label,
.Checked+label {

  background: #bdc6f2;
}

.answer--list label {
  border: 1px solid white;
  cursor: pointer;
  z-index: 90;
  background-color: navajowhite;
  color: black;
}

.answer--list label:hover {
  background: #5367cd;
  color: white;
}

.quiz--item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  ;
  /* margin-bottom: 1.5em; */
}

.btn-check-answers {
  color: antiquewhite;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  min-height: 35px;
  align-self: center;
  margin-top: 1em;
  border:1px solid antiquewhite;
}

.result--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  align-self: center;
  gap: 1em;
}

.result--p {
  color: antiquewhite;
  text-align: center;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form {
  display: flex;
  width: 550px;
  height: 550px;
  flex-direction: column;
  font-family: 'Karla';
}

button {
  background-color: #4D5B9E;
}

@media(max-width:400px) {

  #root {
    /* border: 1px solid red; */
  }

  .result--div {
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 0;
  }

  .result--p {
    margin: 0;
  }

  form {
    max-width: 400px;
    width: 90vw;
  }

  .card {
    width: inherit;
    margin: 0;
  }

  button {
    min-height: 52px;
  }

  .answer--list {
    flex-direction: column;
    align-items: center;
  }

  .question--text {
    text-align: left;
  }

  .btn-check-answers {
    /* margin-top: 0; */
    min-height: 56px;
  }

}