body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root {

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:600px;
  width: 600px;
  margin: 50px auto;
  /* border: 1px    solid red; */
}
h1 {
  color: #293264;
  text-align: center;
  font-family: Karla;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
p{
  margin: 0;
}
.question--text {
  color: #293264;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
button {
  width: 193px;
  height: 52px;
  border-radius: 15px;
  color: #F5F7FB;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* margin-top: 1.75rem; */
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.answer--list {
  list-style-type: none;
  margin: 0.75rem 0 0 0;
  padding: 0;
  display: flex;
}

.answer--list li {
  float: left;
  margin: 0 5px 0 0;
  width: 275px;
  height: 50px;
  position: relative;
  color: #293264;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.answer--list label,.answer--list input[type="radio"]
 {
  display: inline-block;
  /* width: fit-content; */
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7.942px;
  border: 0.794px solid #4D5B9E;
  padding: 0.5em;
  
}

.answer--list input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.answer--list input[type="radio"]:checked+label,
.Checked+label {

background: #D6DBF5;
}

.answer--list label {
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.answer--list label:hover {
  background: #DDD;
}

.quiz--item {
   display: flex; 
   flex-direction: column;
   border-bottom: 1px solid #DBDEF0;;
    margin-bottom: 1.5em;
}

.btn-check-answers {
  color: #F5F7FB;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  height: 35px;
  align-self: center;
}
.result--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  align-self: center;
  gap: 1em;
}
.result--p{
  color: #293264;
  text-align: center;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form {
    display: flex;
    width: 550px;
    height: 550px;
    flex-direction: column;
    font-family: 'Karla';
}

button {
  background-color: #4D5B9E;
}

@media(max-width:425px) {

  .answer--list {
    flex-direction: column;
    align-items: center;
  }
  .question--text {
    text-align: center;
  }

  /* body {
    height: 95vh;
  }

  main,
  .BestEffort,
  .tracker,
  .timer--time {
    width: 95%;
  }

  
  canvas {
    width: 95%;
  } */

}